<header>
<ul class="uiTab" id="maintab">            
    <img class="tabNavigation" id="tabTarget">
    <li class="tabItem" id="confTab"><a>Configuration</a></li>
    <li class="tabItem" id="aboutTab"><a>A propos</a></li>
</ul>
</header>
<div id="animatedBackground"><div></div><div></div><div></div></div>
<iframe id="carView">
</iframe>
<div class="slideView" id="confView">
    <div class="uiCard" id="settings">
        <div class="uiThemePicker" id="themepicker">
            <span id="pickerTarget" class="pickerSelected"></span>
        </div>
    </div>
    <div class="uiCard" id="testeView">
        <ul class="uiTab" id="teste">            
            <p>ez1</p><p>ez1</p><p>ez1</p><p>ez1</p><p>ez1</p>
        </ul>
    </div>
    <div class="uiCard" id="home_0">
        <h1>Se connecter</h1>
        <p>Dans vos paramètres WiFi, sélectionnez "DiPi" et entrez le mot de passe fourni dans le manuel.</p>
        <button id="resetCar" class="checkHost" value="next">Continuer</button>
    </div>   
    <div class="uiCard" id="home_1">
        <h1>Bienvenue</h1>
        <p>Vous êtes connecté au véhicule !<br><br>Tout d'abord, choisissez le type de connexion que vous souhaitez utiliser.</p>
        <button class="checkHost" value="p2pMode">Point à point</button>
        <button class="checkConfig" value="next">Réseau local</button>
    </div>      
    <div class="uiCard" id="home_2">
        <h1>Mode local</h1>
        <p id="localMode1">En mode local, vous pourrez utiliser votre voiture depuis votre réseau local en la reliant à votre point d'accès sans fil.</p>
        <button class="slideViewBtn" id="localMode2" value="next">Configurer</button>
    </div>  
    <div class="uiCard" id="home_3">
        <h1>Paramètres WiFi</h1>
        <p>Pour utiliser le véhicule sur le réseau local, entrez vos paramètres de WiFi.</p>
        <span class="form">
            <label><span>Nom du WiFi</span><input class="inputSrc" type="text" name="ssid"></label>
            <br>
            <label><span>Mot de passe</span><input class="inputSrc" type="password" name="wpa"></label>
        </span>
        <button class="slideViewBtn" value="previous">Retour</button>
        <button class="slideViewBtn" value="next">Suivant</button>
    </div>
    <div class="uiCard" id="home_4">
        <h1>Personnalisation</h1>
        <p>Votre voiture mérite un nom unique. Comment souhaitez-vous la nommer ?</p>
        <span class="form">
            <label><span>Nom de l'appareil</span><input class="inputSrc" type="text" name="name"></label>                
        </span>
        <button class="slideViewBtn" value="previous">Retour</button>
        <button id="inputsValidation" value="next">Suivant</button>
    </div>
    <div class="uiCard" id="home_5">
        <h1>Confirmer</h1>
        <p>Souhaitez-vous valider cette configuration ?</p>
        <form class="form">
        <table class="settingsList">
            <tr>
                <td>Nom</td><td><input class="inputTrg" name="name" id="carName" disabled></td>
            </tr>
            <tr>
                <td>SSID</td><td><input class="inputTrg" name="ssid" disabled></td>
            </tr>
            <tr>
                <td>Clé WPA</td><td><input class="inputTrg" name="wpa" type="password" disabled></td>
            </tr>
        </table>
    </form>
        <button class="slideViewBtn" value="previous">Retour</button>
        <button class="checkHost" id="1" value="next">Valider</button>
    </div>  
    <div class="uiCard" id="home_6">
        <h1>Redémarrage</h1>
        <p>Vous pouvez maintenant redémarrer la voiture afin d'appliquer la configuration.<br><br>Si vous ne voyez pas de message d'erreur, vous pouvez vous reconnecter sur votre réseau local et continuer.</p>
        <button class="slideViewBtn stepAction" id="2" value="next">Continuer</button>
    </div>
    <div class="uiCard" id="home_7">
        <h1>Connexion au véhicule</h1>
        <p>Veuillez insérer l'adresse de connexion de votre voiture afin de s'y connecter. Il s'agit des chiffres inscrits sur l'écran.</p>
        <span class="form">
            <label><span>Adresse IP</span><input type="text" name="address" id="setupAddress"></label>   
        </span>
        <button onclick="settings.clear()">Réinitialiser</button>
        <button class="slideViewBtn stepAction" id="3" value="next">Valider</button>
    </div>
    <div class="uiCard" id="home_8">
        <h1>Choix du profil</h1>
        <p>TODO get users from car and connect to a profile</p>
        <button class="slideViewBtn" value="load">Connexion</button>
    </div>
</div>
<div id="aboutView">
    <h1>A propos du projet</h1>
    <p>Le montage du véhicule ainsi que la création de l'application ont été réalisés par Nicolas JEUNIAUX et Luca VITALI en temps que travail de fin d'études à la Haute école en Hainaut.</p>
</div>
<div id="statView">
    <div class="uiCard">
        test12
    </div>
    <div class="uiCard">
        test12
    </div>
    <div class="uiCard">
        test12
    </div>
</div>
<script>
    iniPage();
</script>