<section class="background flex-vertical">
    <div class="frame flex-vertical">
        <h1>Welcome !</h1>
        <form action="" class="flex-vertical">
            <label for="username">Username:</label>
            <input type="text" name="username">
            <label for="password">Password:</label>
            <input type="password" name="password">
        </form>
    </div>
</section>