<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-startup-image" href="./launch.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name='viewport' content='viewport-fit=cover, width=device-width, initial-scale=1.0'>
    <title>DiPi Link</title>
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="Styles/stencil.css">
    <link rel="stylesheet" href="Styles/project.css">
    <link rel="icon" type="image/png" href="Images/icons-192.png" />
    <script src="Scripts/home.js"></script>
    <script src="Scripts/app.js"></script>
</head>
<body>
    <%- include(page) -%>
</body>
</html>