[Unit]
Description=Dipicar server
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
Restart=always
ExecStart=/usr/local/bin/dipicar fullStart
ExecReload=/usr/local/bin/dipicar config

[Install]
WantedBy=multi-user.target