html{
    height: 100vh;
    background: linear-gradient(153deg, #AEF0D050 0%, #4FE59BAA 13%, #27C18F7F 69%, #0EA272 100%);
}
body{
    margin: 0;
    user-select: none;   
    background: transparent; 
}
body>*:not(header){
    padding-top: 50px;
}
header{
    top: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 900;
    background-color: var(--backdrop-fill);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.uiTab{
    left: 0;
    top: 0;
    margin: 0;
}
#confView{
    display: none;
    opacity: 0;
}
#aboutView{
    display: none;
}
#carTab{
    display: none;
}
#carView,#confView,#aboutView{
    transition: opacity 0.15s;
    margin: 0 auto;
    max-width: 600px;
}
#carView{
    display: none;
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    max-width: none;
    margin: 0;
    border: none;
}
#animatedBackground{
    z-index: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    padding-top: 0;
    width: 100%;
    height: 100%;
}
#animatedBackground div{
    border-radius: 10px;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 4px solid var(--accent-color);
}
#animatedBackground div:nth-child(1){
    top: 80%;
    left: 80%;
    animation: animate 7s linear infinite;
}
#animatedBackground div:nth-child(2){
    top: 67%;
    left: 85%;
    animation: animate 9s linear infinite;
}
#animatedBackground div:nth-child(3){
    top: 67%;
    left: 95%;
    animation: animate 8s linear infinite;
}
@keyframes animate{
    0%{
        transform: scale(0) translateX(0) translateY(0) rotate(0);
        opacity: 0;
    }
    50%{
        transform: scale(1.3) translateX(-45px) translateY(45px) rotate(180deg);
        opacity: 1;
    }
    100%{
        transform: scale(1) translateX(-120px) translateY(120px) rotate(360deg);
        opacity: 0;
    }
}